@import url("/src/assets/fonts/Moesevka/Moesevka.css");

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

pre {
  width: fit-content;
  word-break: break-all;
  white-space: pre-line;
  margin: 0 auto;
}

code {
  font-family: Moesevka Web, Iosevka, Consolas, Menlo, Monaco, monospace;
}

pre {
  transition: 0.1s ease-out;
}

.hover-show {
  display: none;
  color: #000;
  font-weight: bold;
}

pre:hover {
  color: #aaa;
}

pre:hover .hover-hide {
  display: none;
}

pre:hover .hover-show {
  display: initial;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: 2px solid underline;
}
