---
import "../styles/index.css";
import iosevkaMoeWoff2 from "../assets/fonts/IosevkaMoe/WOFF2/IosevkaMoe-UltraExtended.woff2";
import iosevkaMoeBoldWoff2 from "../assets/fonts/IosevkaMoe/WOFF2/IosevkaMoe-UltraExtendedBold.woff2";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href={iosevkaMoeWoff2}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href={iosevkaMoeBoldWoff2}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>yumi0n1p1.dev</title>
  </head>
  <body>
    <pre><code class="pubkey">
			-----BEGIN PGP PUBLIC KEY BLOCK-----

			mDMEZ6+SDBYJKwYBBAHaRw8BAQdA3AJXR058Yd8JblwhSH6B<span class="hover-hide">hsM</span><a class="hover-show" href="pubkey.asc">pgp</a>HzknM01g9x+SF
			LOpIt+a0JUthZ3VyYXpha2EgWXVtaSA8eXVtaTBuMXAxQHByb3Rvbi5tZT6ImQQT
			FgoAQRYhBH5zSEmr<span class="hover-hide">1aGQYLtq</span><a class="hover-show" href="https://t.me/yumi0n1p1">telegram</a>6DaYVf+D+tP8BQJnr5IMAhsDBQkB4TOABQsJCAcC
			AiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEDaYVf+D+tP8dlcB<span class="hover-hide">AIww+9p</span><a class="hover-show" href="https://twitter.com/yumi0n1p1">twitter</a>WrPmrp2RC
			GTWOO2JpRwok7Uq/xjwQB1yvgiXoAQDDvmPBskQvM9etEX5h9qryhOegHlAenbDv
			xz5XTarKDLg4BGev<span class="hover-hide">kgwSCi</span><a class="hover-show" href="https://github.com/yumi0n1p1">github</a>sGAQQBl1UBBQEBB0BcsmuO+k6b4tVPp4Mm1m3GLumy
			zJ3vud87/7SXflK4FgMBCAeIfgQYFgoAJhYhBH5zSEmr1aGQ<span class="hover-hide">YLtq6</span><a class="hover-show" href="mailto:yumi0n1p1@proton.me">email</a>DaYVf+D+tP8
			BQJnr5IMAhsMBQkB4TOAAAoJEDaYVf+D+tP86Z0A/iGAVNyneg6KogvdOdVwtS+5
			nm2nJHJ/QP8dlx6y<span class="hover-hide">+0D9AQ</span><a class="hover-show" href="https://matrix.to/#/@yumi0n1p1:matrix.org">matrix</a>DVnTsS/3oIxHsDNC7YaYGXqRY/0wO/GtXBWsJdezIU
			Cg==
			=KY5t
			-----END PGP PUBLIC KEY BLOCK-----
		</code></pre>
  </body>
</html>
