---
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>yumi0n1p1.dev</title>
  </head>
  <body>
    <pre><code>
			-----BEGIN PGP PUBLIC KEY BLOCK-----

			mDMEZ6+SDBYJKwYBBAHaRw8BAQdA3AJXR058Yd8JblwhSH6BhsMHzknM01g9x+SF
			LOpIt+a0JUthZ3VyYXpha2EgWXVtaSA8eXVtaTBuMXAxQHByb3Rvbi5tZT6ImQQT
			FgoAQRYhBH5zSEmr1aGQYLtq6DaYVf+D+tP8BQJnr5IMAhsDBQkB4TOABQsJCAcC
			AiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEDaYVf+D+tP8dlcBAIww+9pWrPmrp2RC
			GTWOO2JpRwok7Uq/xjwQB1yvgiXoAQDDvmPBskQvM9etEX5h9qryhOegHlAenbDv
			xz5XTarKDLg4BGevkgwSCisGAQQBl1UBBQEBB0BcsmuO+k6b4tVPp4Mm1m3GLumy
			zJ3vud87/7SXflK4FgMBCAeIfgQYFgoAJhYhBH5zSEmr1aGQYLtq6DaYVf+D+tP8
			BQJnr5IMAhsMBQkB4TOAAAoJEDaYVf+D+tP86Z0A/iGAVNyneg6KogvdOdVwtS+5
			nm2nJHJ/QP8dlx6y+0D9AQDVnTsS/3oIxHsDNC7YaYGXqRY/0wO/GtXBWsJdezIU
			Cg==
			=KY5t
			-----END PGP PUBLIC KEY BLOCK-----
		</code></pre>
  </body>
</html>
