
@font-face {
	font-family: 'Moesevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Moesevka-Regular.woff2') format('woff2'), url('TTF/Moesevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Moesevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Moesevka-Italic.woff2') format('woff2'), url('TTF/Moesevka-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Moesevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Moesevka-Bold.woff2') format('woff2'), url('TTF/Moesevka-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Moesevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Moesevka-BoldItalic.woff2') format('woff2'), url('TTF/Moesevka-BoldItalic.ttf') format('truetype');
}
